{
  "openapi": "3.0.1",
  "info": {
    "title": "Customers API",
    "description": "Documentation of the Customers API",
    "termsOfService": "https://entur.org",
    "contact": {
      "name": "Entur Team Personalisering",
      "url": "https://enturas.atlassian.net/wiki/spaces/CULP/overview",
      "email": "team.personalisering@entur.org"
    },
    "version": "5.2.0"
  },
  "servers": [{ "url": "https://api.entur.io/customers/v2" }],
  "security": [{ "jwt": [] }],
  "tags": [
    { "name": "Deprecated", "description": "Endpoints deprecated in v2" },
    {
      "name": "Preferences admin",
      "description": "Api for creating, fetching, modifying and deleting preferences a customer can have"
    },
    {
      "name": "Temporary profiles client",
      "description": "Api for creating, fetching, modifying and deleting temporary customer profiles. "
    },
    {
      "name": "Authentication admin",
      "description": "Api for verify credentials, generate and update password."
    },
    {
      "name": "Profiles client",
      "description": "Api for creating, fetching, modifying and deleting customers and related information."
    },
    {
      "name": "Customer accounts client",
      "description": "Api for creating, fetching and modifying customers account ids."
    },
    {
      "name": "Gift cards client",
      "description": "Endpoints for creating, managing and using gift cards on legacy platform"
    },
    {
      "name": "Loyalty program reports",
      "description": "Endpoints to get loyalty program reports"
    },
    {
      "name": "Contract usage admin",
      "description": "Endpoints for creating order line events directly on a contract."
    },
    {
      "name": "Contracts admin",
      "description": "Api for administration of contracts"
    },
    {
      "name": "pdf-controller",
      "description": "Api to generate benefits pdfs"
    },
    {
      "name": "Contracts client",
      "description": "Loyalty program contracts for customers"
    },
    {
      "name": "Fraud prevention",
      "description": "Endpoints for blocking and unblocking customers from all contracts."
    },
    {
      "name": "Loyalty programs admin",
      "description": "Api for administration of loyalty programs"
    },
    {
      "name": "Contract transactions admin",
      "description": "Endpoints for creating, managing and using gift cards and other point based loyalty programs."
    },
    {
      "name": "Consents DWH",
      "description": "API for displaying all consent info (Data warehouse API)"
    },
    {
      "name": "Consents admin",
      "description": "Api for creating, fetching, modifying and deleting consents and related information by admins"
    },
    {
      "name": "Consents client",
      "description": "Api for fetching consents and related information by clients"
    },
    {
      "name": "Given consents client",
      "description": "Api for creating, fetching, modifying and deleting given consents by clients"
    },
    {
      "name": "Entitlements",
      "description": "API for handling loyalty program entitlements."
    },
    {
      "name": "Traveller information",
      "description": "API for retrieving contact info for all travellers on a given journey. Given a serviceJourneyId or, preferably, an originalServiceJourneyId, returns contact info for the travellers on this journey"
    },
    {
      "name": "Authentication client",
      "description": "Api for handling authentication."
    }
  ],
  "paths": {
    "/profiles/{organisationId}/{email}/generate-password": {
      "put": {
        "tags": ["Authentication admin"],
        "summary": "Generate password",
        "description": "Generates a new password for a customer identified by organisationId (numeric) and email address. This endpoint requires an Internal or Partner jwt-token.",
        "operationId": "generatePassword",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratePasswordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find customer by customer number",
        "description": "Gets a customer with related information. If the passed customer number is for a merged and passive customer, the result will instead be the active, merged customer. Thus, you may find a customer with a different customer number than you specified in the URL.",
        "operationId": "findCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "includeECards",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          },
          {
            "name": "includePersonnelTicket",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          },
          {
            "name": "includeConsents",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          },
          {
            "name": "includePreferences",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          },
          {
            "name": "includeNotes",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profiles client"],
        "summary": "Update customer",
        "description": "Updates a customer with the added data. If an address is not specified in the request, it will not be changed. After the update is complete, an UPDATE event will be added to the customer-changes queue.",
        "operationId": "updateCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerPutRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/set-password": {
      "put": {
        "tags": ["Authentication admin"],
        "summary": "Set password",
        "description": "Set the password for the specified customer. This endpoint requires an Internal or Partner jwt-token.",
        "operationId": "setPassword",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NewPasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/restore": {
      "put": {
        "tags": ["Profiles client"],
        "summary": "Restore deactivated customer",
        "description": "Restores a deactivated customer. This means reinstating the status it had before deletion. If another customer has been registered for the same organisation with the same email address since marking for deactivation, the restoration will fail.",
        "operationId": "restoreDeactivatedCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/preferences": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find all preferences for customer",
        "description": "Get all customer preferences for the given customer number.",
        "operationId": "findAllPreferencesForCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "object" } }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profiles client"],
        "summary": "Bulk update customer preferences",
        "description": "Replaces all a customers preferences with the supplied list. All existing preferences will be deleted! Use with caution.",
        "operationId": "bulkUpdateCustomerPreferencesByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerPreferenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerPreferenceResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Profiles client"],
        "summary": "Create customer preference",
        "description": "Create a new customer preference. This will fail if the customer already has that preference set.",
        "operationId": "createCustomerPreferenceByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPreferenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPreferenceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/preferences/{preferenceId}": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find a specific preference for customer",
        "description": "Get a specific customer preference by preference Id.",
        "operationId": "findSpecificPreferenceForCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "preferenceId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPreferenceResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profiles client"],
        "summary": "Update a customer preference",
        "description": "Set a new value for a given customer preference. This will fail if the customer doesn't have this preference set already.",
        "operationId": "updateCustomerPreferenceByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "preferenceId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPreferenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPreferenceResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Profiles client"],
        "summary": "Delete a customer preference",
        "description": "Deletes the given customer preference from the database.",
        "operationId": "deleteCustomerPreferenceByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "preferenceId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "204": { "description": "No Content" }
        }
      }
    },
    "/profiles/{customerNumber}/postal-addresses/{postalAddressId}": {
      "put": {
        "tags": ["Profiles client"],
        "summary": "Update postal address",
        "description": "Updates an existing postal address on the customer.",
        "operationId": "updatePostalAddressByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postalAddressId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostalAddressRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalAddressResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Profiles client"],
        "summary": "Delete postal address",
        "description": "Deletes the given postal address from the customer.",
        "operationId": "deletePostalAddressByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "postalAddressId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "204": { "description": "No Content" }
        }
      }
    },
    "/profiles/{customerNumber}/merge-personnel-ticket-profile/{pticketCustomerNumber}": {
      "put": {
        "tags": ["Profiles client"],
        "summary": "Merge customers",
        "description": "Merge a personnel ticket customer with a standard customer. Given the customer number to a profile that has been created solely for being the recipient of a personnel ticket, you can merge that profile into an active profile. In practice this deletes the personnel ticket profile and transfers any tickets onto the current profile.",
        "operationId": "mergeCustomersByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pticketCustomerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/ecard-ownerships/{ecardOperator}/{ecardNumber}": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find specific E-card",
        "description": "Get a specific ecard by customer number and ecard information.",
        "operationId": "findSpecificEcardByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "ecardOperator",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "ecardNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcardOwnershipResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Profiles client"],
        "summary": "Update E-card registration",
        "description": "Update an existing E-card for a customer. Can also be used to set a new owner of the E-card. The internal logic is 'find the customer who owns this E-card. Then, see if this is the same customer who is specified in the URL. If it isn't, move the card to this new customer.' Regardless of whether the card is moved, all fields are overwritten with the supplied info. Also note that it isn't possible to switch the card ownership to a customer from another organisation.",
        "operationId": "updateEcardRegistrationByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "ecardOperator",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "ecardNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EcardOwnershipRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcardOwnershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/delete": {
      "put": {
        "tags": ["Profiles client"],
        "summary": "Deactivate customer",
        "description": "Deactivates a customer. In practice this means mark them for deletion and set the expiration date. Another process is responsible for the actual removal from the database. While a customer is deactivated, it's still possible to look them up, by specifying the includeDeleted flag.",
        "operationId": "deactivateCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string", "format": "date-time" },
            "example": "2018-02-12T13:23:53+01:00"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/change-password": {
      "put": {
        "tags": ["Authentication admin"],
        "summary": "Change password",
        "description": "Change password for a customer. This method will first validate that the given oldPassword is correct, before storing the new password. This endpoint requires an Internal or Partner jwt-token.",
        "operationId": "changePassword",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChangePasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/temporary/{customerNumber}": {
      "put": {
        "tags": ["Temporary profiles client"],
        "summary": "Update temporary profile",
        "description": "Updates the temporary customer profile with the value provided. All fields are overwritten.",
        "operationId": "updateTemporaryProfileByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemporaryCustomerPutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemporaryCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/preferences/{preferenceId}": {
      "get": {
        "tags": ["Preferences admin"],
        "summary": "Find Preference by id",
        "description": "Get a specific preference by Id.",
        "operationId": "findPreferenceById",
        "parameters": [
          {
            "name": "preferenceId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PreferenceResponse" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Preferences admin"],
        "summary": "Update preference",
        "description": "Update the fields of an existing preference. All values are stored and overrides current values.",
        "operationId": "updatePreference",
        "parameters": [
          {
            "name": "preferenceId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PreferenceRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PreferenceResponse" }
              }
            }
          }
        }
      }
    },
    "/customers/temporary/{customerNumber}": {
      "put": {
        "tags": ["Deprecated"],
        "summary": "Update temporary profile",
        "description": "Deprecated. Use /profiles/*. Updates the temporary customer profile with the value provided. All fields are overwritten.",
        "operationId": "updateTemporaryProfileByCustomerNumberDeprecated",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemporaryCustomerPutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemporaryCustomerResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/profiles": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find customers by parameters",
        "description": "A list of customers matching the search criteria. Always includes postalAddresses and personnelTickets if available.",
        "operationId": "findCustomersByParameters",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "surname",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Ignored unless telephoneNumberNoCountryCode is also set.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" },
            "example": "+47"
          },
          {
            "name": "telephoneNumber",
            "in": "query",
            "description": "Ignored if countryCode and telephoneNumberNoCountryCode are set.",
            "required": false,
            "deprecated": true,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "telephoneNumberNoCountryCode",
            "in": "query",
            "description": "Telephone number with no country code prefix. Ignored unless countryCode is also set.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "landlineNumber",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string", "format": "yyyy-MM-dd" },
            "example": "2018-02-12"
          },
          {
            "name": "postalAddress",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "postCode",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ticketRightOwner",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ticketRightBearer",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "organisationId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "maxResultSet",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "includeTemporary",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "invoiceOrganisationId",
            "in": "query",
            "description": "Organisation ID from Brønnøysund, for invoice profiles",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "integer", "format": "int64" },
            "example": 123456785
          },
          {
            "name": "vippsId",
            "in": "query",
            "description": "Vipps unique user identifier",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": { "type": "string", "format": "uuid" },
            "example": "c06c4afe-d9e1-4c5d-939a-177d752a0944"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "object" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Profiles client"],
        "summary": "Create a customer",
        "description": "Creates a new customer in the database. If a customerRef is not specified, one will be assigned. The customerRef and email fields must be unique within an organisation. After the creation is complete, a CREATE event will be posted to the customer-changed queue.",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerPostRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/related-customer-numbers": {
      "post": {
        "tags": ["Profiles client"],
        "summary": "Connect a temporary profile to a permanent profile",
        "description": "Connects a temporary profile a permanent profile",
        "operationId": "connectCustomer",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerConnectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerConnectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/postal-addresses": {
      "post": {
        "tags": ["Profiles client"],
        "summary": "Create a new postal address",
        "description": "Create a new postal address for the customer. ",
        "operationId": "createPostalAddressByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostalAddressRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalAddressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/ecard-ownerships": {
      "get": {
        "tags": ["Profiles client"],
        "summary": "Find all E-cards for customer",
        "description": "Get all ecard information for the given customer.",
        "operationId": "findAllEcardsForCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "object" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Profiles client"],
        "summary": "Add E-card to customer",
        "description": "Create a new E-card registration for the given customer. ",
        "operationId": "addEcardToCustomerByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EcardOwnershipRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EcardOwnershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{customerNumber}/customer-accounts": {
      "get": {
        "tags": ["Customer accounts client"],
        "summary": "Get customer accounts",
        "description": "Get customer accounts by customer number.",
        "operationId": "getCustomerAccountsCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerAccountResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Customer accounts client"],
        "summary": "Create a new customer account",
        "description": "Create a new customer account for the customer. ",
        "operationId": "createCustomerAccountCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/verify-credentials": {
      "post": {
        "tags": ["Authentication admin"],
        "summary": "Verify credentials",
        "description": "Verify credentials for a customer. The customer is looked up based on the organisation Id of the logged on user, combined with the email address provided in the input.",
        "operationId": "verifyCredentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCredentialsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/temporary": {
      "post": {
        "tags": ["Temporary profiles client"],
        "summary": "Create temporary profile",
        "description": "Creates a new temporary customer profile. Temporary profiles are used when consents are given by an anonymous user, or where we need to add just a name to a hardcopy pdf ticket when the buyer doesn't have a full profile. In those cases, we still require a customer reference in the consents API, so a customer profile must exist. However, the profile does not need to be permanent. Specifically, temporary profiles have an expiration date. On that date, they will be deleted from the system. Also, several fields that are required for a permanent profile, are voluntary for a temporary profile. A mechanism exists for converting a temporary profile into a permanent one.",
        "operationId": "createTemporaryProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemporaryCustomerPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemporaryCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/temporary/{customerNumber}/convert": {
      "post": {
        "tags": ["Temporary profiles client"],
        "summary": "Convert to permanent",
        "description": "Converts the temporary customer profile to a permanent profile. Note that this is a one-way change, there is no going back. When converting, all fields not present in the temporary profile need to be supplied.",
        "operationId": "convertToPermanentByCustomerNumber",
        "parameters": [
          {
            "name": "customerNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertTemporaryCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerResponse" }
              }
            }
          }
        }
      }
    },
    "/profiles/get-by/bulk": {
      "post": {
        "tags": ["Profiles client"],
        "summary": "Get many customers by customerNumbers",
        "description": "Get customer profile data for the provided customer numbers or customer references. The list is filtered based on the organisationId of the logged inn user. If both customer numbers and customer references is passed then customer numbers will be used, unless customer numbers is an empty list while customer references is a non-empty list.",
        "operationId": "getManyCustomersByCustomerNumbers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProfilesBulkRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/preferences": {
      "get": {
        "tags": ["Preferences admin"],
        "summary": "List all preferences",
        "description": "Get the list of all supported preferences. This list will include inactive preferences.",
        "operationId": "listAllPreferences",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "object" } }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Preferences admin"],
        "summary": "Add preference",
        "description": "Add a preference to the database.",
        "operationId": "addPreference",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PreferenceRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/ErrorMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
[...]
