{
  "openapi": "3.0.1",
  "info": {
    "description": "This API provides services to read and maintain products and fare data for public transport in Norway.",
    "title": "Products",
    "version": "0.0.1",
    "x-entur-metadata": {
      "audience": "partner",
      "id": "products",
      "owner": "team-produkt"
    }
  },
  "servers": [
    {
      "url": "https://api.entur.io/products",
      "description": "Production environment"
    },
    {
      "url": "https://api.staging.entur.io/products",
      "description": "Staging environment"
    },
    {
      "url": "https://api.dev.entur.io/products",
      "description": "Development environment"
    }
  ],
  "security": [
    {
      "jwt": []
    }
  ],
  "tags": [
    {
      "description": "This API is deprecated and will be removed in future releases. Please migrate to the new API version. New api will support all supplementProductTypeEnums according to the netex-standard",
      "name": "supplement-products"
    }
  ],
  "paths": {
    "/admin/bucket-invalidation": {
      "post": {
        "operationId": "admin/bucket-invalidation_invalidateAll",
        "responses": {
          "202": {
            "description": "Invalidation started"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Invalidate and rebuild GCS buckets for all entity types",
        "tags": [
          "admin/bucket-invalidation"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/bucket-invalidation/{entityType}": {
      "post": {
        "operationId": "admin/bucket-invalidation_invalidateEntityType",
        "parameters": [
          {
            "description": "Entity type: SalesPackage, FarePrice, FareTable, SaleDiscountRight, or UserProfile",
            "in": "path",
            "name": "entityType",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Invalidation started"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Invalid entity type"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Invalidate and rebuild GCS bucket for a specific entity type",
        "tags": [
          "admin/bucket-invalidation"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/delete": {
      "put": {
        "operationId": "admin/cache_deleteEntityByObject",
        "parameters": [
          {
            "description": "Specify this if you want to delete all elements connected to a specific type of entity. I.e. \u0027fare_structure_element\u0027 or \u0027fare_table\u0027 etc.",
            "in": "query",
            "name": "nameOfEntity",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "Successfully deleted"
          },
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "No content. Deleted successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Delete all elements in cache or delete specific element given key in req.body",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/delete/all": {
      "put": {
        "operationId": "admin/cache_deleteAllEntitiesFromCache",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Successfully deleted"
          },
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No content. Deleted successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Delete all elements in cache",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/invalidate": {
      "put": {
        "operationId": "admin/cache_invalidateCache",
        "parameters": [
          {
            "description": "Specify this if you want to invalidate cache for elements connected to a specific type of entity. I.e. \u0027fare_structure_element\u0027 or \u0027fare_table\u0027 etc. . If no value given all cache will be invalidated",
            "in": "query",
            "name": "nameOfEntity",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If set to true the whole cache will be invalidated. If false only the cache for the specified entity will be invalidated. Default is false.",
            "in": "query",
            "name": "all",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Successfully deleted"
          },
          "204": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "No content. Deleted successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Delete all elements in cache",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/keys/count": {
      "get": {
        "operationId": "admin/cache_getCount",
        "parameters": [
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "Successfully"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Count the DB size of Redis",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/keys/count/{keyOfEntity}": {
      "get": {
        "operationId": "admin/cache_getCount_1",
        "parameters": [
          {
            "in": "path",
            "name": "keyOfEntity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "Successfully"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Count number of elements in cache by key of entity",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/keys/info": {
      "get": {
        "operationId": "admin/cache_getKeyInfo",
        "parameters": [
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SetString"
                }
              }
            },
            "description": "Successfully"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Get key info for entities in cache",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/keys/info/{nameOfEntity}": {
      "get": {
        "operationId": "admin/cache_getKeyInfo_1",
        "parameters": [
          {
            "in": "path",
            "name": "nameOfEntity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SetString"
                }
              }
            },
            "description": "Successfully"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Get key info for a given entity in cache",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/admin/cache/status": {
      "get": {
        "operationId": "admin/cache_getCacheStatuses",
        "parameters": [
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MapStringObject"
                }
              }
            },
            "description": "Successfully retrieved cache statuses"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Get cache statuses for all entities",
        "tags": [
          "admin/cache"
        ],
        "x-entur-permissions": {
          "value": "product-admin-api-access:endre"
        }
      }
    },
    "/amount-of-price-unit-products": {
      "get": {
        "operationId": "amount-of-price-unit-products_getAll",
        "parameters": [
          {
            "description": "The unique id to identify a organisation",
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id to identify data owned by organisation",
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id for the language",
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AmountOfPriceUnitProduct"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves an amount of price unit products, filtered by given parameter(s)",
        "tags": [
          "amount-of-price-unit-products"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "post": {
        "operationId": "amount-of-price-unit-products_create",
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmountOfPriceUnitProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity created successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Already registered"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Create an AmountOfPriceUnitProduct",
        "tags": [
          "amount-of-price-unit-products"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/amount-of-price-unit-products/{id}": {
      "get": {
        "operationId": "amount-of-price-unit-products_getById",
        "parameters": [
          {
            "description": "The unique id to identify the amount of price unit product",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the amount of price unit product",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmountOfPriceUnitProduct"
                }
              }
            },
            "description": "Returns the resource"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves the latest version of an AmountOfPriceUnitProduct by id",
        "tags": [
          "amount-of-price-unit-products"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/amount-of-price-unit-products/{id}/{version}": {
      "get": {
        "operationId": "amount-of-price-unit-products_getByIdAndVersion",
        "parameters": [
          {
            "description": "The unique id to identify the an amount of price unit product",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the amount of price unit product",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "header",
            "name": "Accept-Language",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmountOfPriceUnitProduct"
                }
              }
            },
            "description": "Returns the resource"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves an AmountOfPriceUnitProduct by id and version",
        "tags": [
          "amount-of-price-unit-products"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "put": {
        "operationId": "amount-of-price-unit-products_update",
        "parameters": [
          {
            "description": "The unique id to identify a product",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the amount of price unit product",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmountOfPriceUnitProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity updated successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Missing Authorization"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Update an AmountOfPriceUnitProduct parameter.",
        "tags": [
          "amount-of-price-unit-products"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/availability-conditions": {
      "get": {
        "operationId": "availability-conditions_getAll",
        "parameters": [
          {
            "description": "The unique id to identify an organisation",
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id to identify a dataset to an organisation",
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimizeDataLoad",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityCondition"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves all availability condition parameters",
        "tags": [
          "availability-conditions"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "post": {
        "operationId": "availability-conditions_create",
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityCondition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity created successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Already registered"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Create a Availability Condition",
        "tags": [
          "availability-conditions"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/availability-conditions/{id}/{version}": {
      "delete": {
        "operationId": "availability-conditions_deleteById",
        "parameters": [
          {
            "description": "The id to identify a Availability Condition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id for the version of the Availability Condition",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Missing Authorization"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Deletes an AvailabilityCondition by id and version",
        "tags": [
          "availability-conditions"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      },
      "get": {
        "operationId": "availability-conditions_getById",
        "parameters": [
          {
            "description": "The id to identify a Availability Condition ",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id for the version of the Availability Condition",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityCondition"
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves Availability Condition for id and version",
        "tags": [
          "availability-conditions"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "put": {
        "operationId": "availability-conditions_update",
        "parameters": [
          {
            "description": "The id to identify a Availability Condition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id for the version of the Availability Condition",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityCondition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity updated successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Missing Authorization"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Updates an existing Availability Condition",
        "tags": [
          "availability-conditions"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/capped-discount-rights": {
      "get": {
        "operationId": "capped-discount-rights_getAll",
        "parameters": [
          {
            "description": "The unique id to identify a organisation",
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id to identify data owned by organisation",
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by status. Allowed values: DRAFT, PROPOSED, VERSIONED, DEPRECATED, ALL",
            "example": [
              "DRAFT",
              "PROPOSED"
            ],
            "in": "query",
            "name": "statusFilter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "The unique id for the language",
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CappedDiscountRight"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves a capped discount right, filtered by given parameter(s)",
        "tags": [
          "capped-discount-rights"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "post": {
        "operationId": "capped-discount-rights_create",
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CappedDiscountRightInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity created successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Already registered"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Create a capped discount right",
        "tags": [
          "capped-discount-rights"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/capped-discount-rights/{id}": {
      "get": {
        "operationId": "capped-discount-rights_getById",
        "parameters": [
          {
            "description": "The unique id to identify the capped discount right",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the capped discount right",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Toggles whether you want to find latest version or latest active version for specific environment, so in staging that would be a proposed version, while in production it will only be a versioned version",
            "in": "query",
            "name": "findActiveInEnvironment",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CappedDiscountRight"
                }
              }
            },
            "description": "Returns the resource"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves the latest version of a capped discount right by id",
        "tags": [
          "capped-discount-rights"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/capped-discount-rights/{id}/{version}": {
      "get": {
        "operationId": "capped-discount-rights_getByIdAndVersion",
        "parameters": [
          {
            "description": "The unique id to identify the capped discount right",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the capped discount right",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "Type of gpa dataset",
            "in": "query",
            "name": "gpaDataSet",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "header",
            "name": "Accept-Language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CappedDiscountRight"
                }
              }
            },
            "description": "Returns the resource"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves a capped discount right by id and version",
        "tags": [
          "capped-discount-rights"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "put": {
        "operationId": "capped-discount-rights_update",
        "parameters": [
          {
            "description": "The unique id to identify the capped discount right",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id of the version of the capped discount right",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CappedDiscountRightInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Entity updated successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Already registered"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Update a capped discount right",
        "tags": [
          "capped-discount-rights"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/charging-moments": {
      "post": {
        "operationId": "charging-moments_create",
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargingMomentInsert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Entity created successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Already registered"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Create a charging moment controller",
        "tags": [
          "charging-moments"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:endre"
        }
      }
    },
    "/charging-moments/{id}/{version}": {
      "get": {
        "operationId": "charging-moments_getByIdAndVersion",
        "parameters": [
          {
            "description": "The id to identify a ChargingMooment",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id for the version of the ChargingMoment",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "header",
            "name": "Accept-Language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargingMoment"
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves charging moment for id and version",
        "tags": [
          "charging-moments"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/charging-policies": {
      "get": {
        "operationId": "charging-policies_getAll",
        "parameters": [
          {
            "description": "The unique id to identify an organisation",
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id to identify a dataset to an organisation",
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimizeDataLoad",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargingPolicy"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves all charging policies",
        "tags": [
          "charging-policies"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/companion-profiles": {
      "get": {
        "deprecated": true,
        "operationId": "companion-profiles_findByOrganisationIdOrFareFrameId",
        "parameters": [
          {
            "description": "The unique id to identify a organisation",
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique id to identify dataset to an organization",
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanionProfile"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves all companion profile",
        "tags": [
          "companion-profiles"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/companion-profiles/{id}/{version}": {
      "get": {
        "deprecated": true,
        "operationId": "companion-profiles_getByIdAndVersion",
        "parameters": [
          {
            "description": "The unique id to identify a companion profile",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The id for the version of the companion profile",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "pattern": "^([A-Z]{3}):([A-Za-z]*):([0-9A-Za-z_\\-]*)$",
              "type": "string"
            }
          },
          {
            "description": "The language code from ISO-639-3",
            "in": "query",
            "name": "languageCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanionProfile"
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Resource not found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrives a companion profile by id and version",
        "tags": [
          "companion-profiles"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      }
    },
    "/day-types": {
      "get": {
        "operationId": "day-types_getAll",
        "parameters": [
          {
            "in": "query",
            "name": "orgId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fareFrameId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minimizeDataLoad",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Used to make conditional requests. It allows the client to provide an ETag value, and the server will process the request only if the ETag does not match the current version of the resource.",
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DayType"
                  }
                }
              }
            },
            "description": "Returns the info"
          },
          "304": {
            "description": "Not Modified"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Authorization failed"
          },
          "404": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ],
        "summary": "Retrieves all day types",
        "tags": [
          "day-types"
        ],
        "x-entur-permissions": {
          "value": "product-api-access:les"
        }
      },
      "post": {
        "operationId": "day-types_create",
        "parameters": [
          {
            "in": "header",
            "name": "X-Correlation-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Et-Client-Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DayType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Entity created successfully"
          },
          "400": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Validation errors"
          },
          "401": {
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "string"
                }
              }
[...]
