name: Entur/API/CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  verify-pr:
    name: Verify PR
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/verify-pr.yml@v1

  test-lint-file-glob-fail-threshold-warn-ok:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/openapi-good.json
      upload_to_bucket: false
      fail_threshold: warn

  test-lint-file-glob-fail-threshold-error-ok:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/openapi-good.json
      upload_to_bucket: false
      fail_threshold: error

  test-lint-file-globstar-ok:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/**/openapi-good-*.json
      upload_to_bucket: false
      fail_threshold: warn

  test-lint-file-glob-warn:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/openapi-warn.yaml
      upload_to_bucket: false
      fail_threshold: error

  test-lint-file-glob-all-fail-threshold-never-ok:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/*
      upload_to_bucket: false
      fail_threshold: never

  upload-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Save spec to the artifact storage
        uses: actions/upload-artifact@v6
        with:
          name: openapi-good.json
          path: fixture/openapi-good.json
          retention-days: 1
  # Lints the artifact uploaded in upload-artifact
  test-lint-artifact-ok:
    needs: upload-artifact
    uses: ./.github/workflows/lint.yml
    with:
      artifact: "*.json"
      upload_to_bucket: false
      fail_threshold: warn

  upload-artifact-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Save all specs to the artifact storage
        uses: actions/upload-artifact@v6
        with:
          name: specs
          path: fixture/*
          retention-days: 1
  # Lints the artifact uploaded in upload-artifact
  test-lint-artifact-with-artifact_contents_glob-ok:
    needs: upload-artifact-all
    uses: ./.github/workflows/lint.yml
    with:
      artifact: "specs"
      artifact_contents: "openapi-good.json"
      upload_to_bucket: false
      fail_threshold: warn

  update-lint-doc:
    if: ${{ github.event.pull_request.head.repo.full_name == 'entur/gha-api' }}
    uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1
    with:
      workflow_file: .github/workflows/lint.yml
      readme_file: README-lint.md

  update-publish-doc:
    if: ${{ github.event.pull_request.head.repo.full_name == 'entur/gha-api' }}
    uses: entur/gha-meta/.github/workflows/auto-doc.yml@v1
    with:
      workflow_file: .github/workflows/publish.yml
      readme_file: README-publish.md

  test-lint-async-file-glob-fail-threshold-warn-ok:
    uses: ./.github/workflows/lint.yml
    with:
      spec: fixture/async-good.json
      upload_to_bucket: false
      fail_threshold: warn
      spec_type: "asyncapi"
