name: Lint OpenAPI specs

on:
  workflow_call:
    inputs:
      spec:
        description: "OpenAPI specs to lint, as a glob pattern."
        type: string
        default: "specs/*.json"
      artifact:
        description: "OpenAPI specs to lint, as a Github artifact glob pattern."
        type: string
      artifact_contents:
        description: "Glob pattern inside artifacts to include in linting, only used if artifact is provided."
        type: string
        default: "*"
      upload_to_bucket:
        description: "If true, will upload the spec(s) to a GCS bucket for analytics."
        type: boolean
        default: true
      fail_threshold:
        description: "The threshold to fail the build. Accepted values: warn, error, never"
        type: string
        default: "never"

jobs:
  validate-input:
    name: Validate input
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Validate inputs
        env:
          GHA_API_LINT_SPEC: ${{ inputs.spec }}
          GHA_API_LINT_ARTIFACT: ${{ inputs.artifact }}
          GHA_API_LINT_FAIL_THRESHOLD: ${{ inputs.fail_threshold }}
        run: |
          set -o errexit  #Exits immediately if any command fails (returns non-zero)
          set -o nounset  #Treats unset variables as errors          
          set -o pipefail #Makes a pipeline fail if any command in it fails (not just the last)
          
          # Ensure not both inputs are empty.
          if [ -z "$GHA_API_LINT_ARTIFACT" ] && [ -z "$GHA_API_LINT_SPEC" ]; then            
            echo "::error::Exactly one of spec OR artifact is required."
            exit 1
          fi          

          # Ensure not both inputs are provided.
          if [ -n "$GHA_API_LINT_ARTIFACT" ] && [ -n "$GHA_API_LINT_SPEC" ] && [ "$GHA_API_LINT_SPEC" != "specs/*.json" ]; then            
            echo "::error::Both spec and artifact were provided. Please provide only one."
            exit 1
          fi

          # Validate fail_threshold
          case "$GHA_API_LINT_FAIL_THRESHOLD" in
            warn|error|never) 
              ;;  # OK
            *) 
              echo "::error::fail_threshold must be one of: warn, error, never"
              exit 1
              ;;
          esac

  lint:
    name: OpenAPI Lint
    runs-on: ubuntu-latest
    needs: validate-input
    permissions:
      contents: read
    steps:
      - name: Checkout repository (if spec provided)
        if: ${{ inputs.artifact == '' }}
        uses: actions/checkout@v6
      - name: Download artifact (if artifact provided)
        if: ${{ inputs.artifact != '' }}
        uses: actions/download-artifact@v7
        with:
          pattern: ${{ inputs.artifact }}
          path: /tmp/artifacts
          merge-multiple: true #Downloads all artifacts into /tmp/artifacts, without subdirectories
      - name: Checkout linting rulesets
        uses: actions/checkout@v6
        with:
          repository: entur/api-guidelines
          ref: v2.2.1
          path: rulesets
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .spectral*.yml
            functions/*.js
      - name: Install Spectral
        run: npm install -g @stoplight/spectral-cli
      - name: Lint OpenAPI
        shell: bash
        env:
          GHA_API_LINT_ARTIFACT:       ${{ inputs.artifact }}
          GHA_API_LINT_SPEC:           ${{ inputs.spec }}
          GHA_API_LINT_CONTENTS:       ${{ inputs.artifact_contents }}
          GHA_API_LINT_FAIL_THRESHOLD: ${{ inputs.fail_threshold }}
        run: |
          set -o errexit
          set -o nounset
          set -o pipefail
        
          shopt -s globstar

          if [ -n "$GHA_API_LINT_ARTIFACT" ]; then
            spec_glob="/tmp/artifacts/$GHA_API_LINT_CONTENTS"
          else
            spec_glob="$GHA_API_LINT_SPEC"
          fi          

          #This is needed, because calling spectral with a glob that does not match any files will succeed, which is not what we want.
          if ! compgen -G "$spec_glob" > /dev/null; then
            echo "::error::No file matches '$spec_glob'"
            exit 1
          fi            
          
          annotations=$(mktemp)
          markdown=$(mktemp)
          #Capture return code in $rc, and do not fail workflow.
          spectral lint "$spec_glob" --ruleset "rulesets/.spectral.yml" --show-documentation-url -F hint -f github-actions -o.github-actions "$annotations" -f markdown -o.markdown="$markdown" && rc=$? || rc=$?
          
          #Return code 2 means that spectral command failed to run (not linting errors), so fail workflow.
          if [ "$rc" -eq 2 ]; then
            echo "::error::Spectral execution error (exit code $rc)."
            exit $rc
          fi

          if [ "$rc" -eq 1 ]; then
            cat $annotations
            cat $markdown >> $GITHUB_STEP_SUMMARY
            echo


            if [ "$GHA_API_LINT_FAIL_THRESHOLD" != "never" ]; then
              spectral lint "$spec_glob" --ruleset "rulesets/.spectral.yml" -o "/dev/null" -f json -F "$GHA_API_LINT_FAIL_THRESHOLD" && rc=$? || rc=$?

              if [ "$rc" -ne 0 ]; then
                echo "::error::Found linting problems. Failing workflow."
                exit $rc
              fi
            fi
          fi

          
  upload-to-bucket:
    name: Upload to bucket
    if: |
      inputs.upload_to_bucket == true
      && (
        (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch) ||
        (github.event_name == 'pull_request' && 
         github.event.action == 'closed' && 
         github.event.pull_request.merged == true && 
         github.event.pull_request.base.ref == github.event.repository.default_branch)
      )
    needs: validate-input
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository (if spec provided)
        if: ${{ inputs.artifact == '' }}
        uses: actions/checkout@v6
      - name: Download artifact (if artifact provided)
        if: ${{ inputs.artifact != '' }}
        uses: actions/download-artifact@v7
        with:
          pattern: ${{ inputs.artifact }}
          path: /tmp/artifacts
          merge-multiple: true
      - name: Check ENTUR_API_DATA_SA secret exists
        env:
          ENTUR_API_DATA_SA: ${{ secrets.ENTUR_API_DATA_SA }}
          REPO_VISIBILITY: ${{ github.event.repository.visibility }}
        run: |
          if [ -z "$ENTUR_API_DATA_SA" ]; then
            if [ "$REPO_VISIBILITY" = "public" ]; then
              echo "::error::Upload to bucket will not work out of the box for public repositories, due to the \
          repository secret ENTUR_API_DATA_SA not being available. Ask Team Plattform to add it."
            else
              echo "::error::The repository secret ENTUR_API_DATA_SA is not available. Please ensure it is configured."
            fi
            exit 1
          fi
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: "${{ secrets.ENTUR_API_DATA_SA }}"
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
      - name: Copy specs to temporary directory
        env:
          GHA_API_LINT_ARTIFACT: ${{ inputs.artifact }}
          GHA_API_LINT_SPEC:     ${{ inputs.spec }}
          GHA_API_LINT_CONTENTS: ${{ inputs.artifact_contents }}
        run: |
          set -o errexit
          set -o nounset
          set -o pipefail
          shopt -s globstar

          mkdir -p /tmp/specs

          if [ -z "$GHA_API_LINT_ARTIFACT" ]; then            
            cp $GHA_API_LINT_SPEC /tmp/specs
          else
            #Since gcloud storage rsync does not support GLOB, copy files matching artifact_contents to /tmp/specs for upload 
            cp /tmp/artifacts/$GHA_API_LINT_CONTENTS /tmp/specs
          fi
      - name: Upload specs to GCS
        run: |
          set -o errexit
          set -o nounset
          set -o pipefail
          echo "Starting to sync files in /tmp/specs/ to GCS Bucket to path /${GITHUB_REPOSITORY#*/}"
          gcloud storage rsync /tmp/specs/ "gs://ent-gcs-api-specs-prd-001/${GITHUB_REPOSITORY#*/}"
