name: Publish OpenAPI specs to developer portal

on:
  workflow_call:
    inputs:
      spec:
        description: "OpenAPI specs to publish, as a glob pattern."
        type: string
        default: "specs/*.json"
      artifact:
        description: "OpenAPI specs to publish, as a GitHub artifact glob pattern."
        type: string
      artifact_contents:
        description: "Glob pattern inside artifacts to include in publishing, only used if artifact is provided."
        type: string
        default: "*"
      visibility:
        description: "Visibility of the published specs. Can be 'public', 'partner' or 'internal'."
        type: string
        default: "public"

jobs:
  validate-input:
    name: Validate input
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Validate inputs
        env:
          GHA_API_SPEC: ${{ inputs.spec }}
          GHA_API_ARTIFACT: ${{ inputs.artifact }}
          GHA_API_VISIBILITY: ${{ inputs.visibility }}
        run: |
          set -o errexit  #Exits immediately if any command fails (returns non-zero)
          set -o nounset  #Treats unset variables as errors          
          set -o pipefail #Makes a pipeline fail if any command in it fails (not just the last)

          # Ensure not both inputs are empty.
          if [ -z "$GHA_API_ARTIFACT" ] && [ -z "$GHA_API_SPEC" ]; then            
            echo "::error::Exactly one of spec OR artifact is required."
            exit 1
          fi          

          # Ensure not both inputs are provided.
          if [ -n "$GHA_API_ARTIFACT" ] && [ -n "$GHA_API_SPEC" ] && [ "$GHA_API_SPEC" != "specs/*.json" ]; then            
            echo "::error::Both spec and artifact were provided. Please provide only one."
            exit 1
          fi

          # Ensure visibility is valid
          if [[ ! "$GHA_API_VISIBILITY" =~ ^(public|partner|internal)$ ]]; then
            echo "::error::Invalid visibility '$GHA_API_VISIBILITY'. Must be one of: public, partner, internal."
            exit 1
          fi

  validate-spec:
    name: Validate Spec
    runs-on: ubuntu-latest
    needs: validate-input
    permissions:
      contents: read
    steps:
      - name: Checkout repository (if spec provided)
        if: ${{ inputs.artifact == '' }}
        uses: actions/checkout@v6
      - name: Download artifact (if artifact provided)
        if: ${{ inputs.artifact != '' }}
        uses: actions/download-artifact@v7
        with:
          pattern: ${{ inputs.artifact }}
          path: /tmp/artifacts
          merge-multiple: true
      - name: Checkout linting rulesets
        uses: actions/checkout@v6
        with:
          repository: entur/api-guidelines
          ref: v2.1.0
          path: rulesets
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .spectral-required.yml
      - name: Install Spectral
        run: npm install -g @stoplight/spectral-cli
      - name: Validate Spec
        shell: bash
        env:
          GHA_API_ARTIFACT:       ${{ inputs.artifact }}
          GHA_API_SPEC:           ${{ inputs.spec }}
          GHA_API_CONTENTS:       ${{ inputs.artifact_contents }}
        run: |
          set -o errexit
          set -o nounset
          set -o pipefail          
          shopt -s globstar

          if [ -n "$GHA_API_ARTIFACT" ]; then
            spec_glob="/tmp/artifacts/$GHA_API_CONTENTS"
          else
            spec_glob="$GHA_API_SPEC"
          fi                         
          
          if ! spectral lint "$spec_glob" --ruleset "rulesets/.spectral-required.yml"; then
            echo "::error::Spec validation failed. Failing workflow."
            exit 1
          fi  

  call-publish-endpoint:
    name: Call publish endpoint
    needs: validate-spec
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    env:
      CLOUD_RUN_ENDPOINT: https://europe-west1-ent-apidata-dev.cloudfunctions.net/publish-spec
    steps:
      - name: Checkout repository (if spec provided)
        if: ${{ inputs.artifact == '' }}
        uses: actions/checkout@v6
      - name: Download artifact (if artifact provided)
        if: ${{ inputs.artifact != '' }}
        uses: actions/download-artifact@v7
        with:
          pattern: ${{ inputs.artifact }}
          path: /tmp/artifacts
          merge-multiple: true

      - name: Authenticate with the cloud provider
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ vars.CI_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.CI_SERVICE_ACCOUNT }}
          token_format: id_token
          id_token_audience: ${{ env.CLOUD_RUN_ENDPOINT }}
          id_token_include_email: true
          create_credentials_file: false

      - name: auth test Cloud Run endpoint
        run: |                    
          curl --fail-with-body -sS -H "Authorization: Bearer ${{ steps.auth.outputs.id_token }}" \
          ${{ env.CLOUD_RUN_ENDPOINT }}
